<%- include('partials/addcard') %>

<form class="form-signin" action="/addplan" method="POST">
    <div class = "container">
        <i class="fas fa-credit-card fa-4x" style="padding:10px"></i>
        <h2>Enter details of new card plan.</h2>

        <label for="inputPlanID" class="sr-only">Plan ID</label>
        <input name="inputPlanID" class="form-control" placeholder="Plan ID" required autofocus>

        <label for="inputPlanName" class="sr-only">Plan Name</label>
        <input name="inputPlanName" class="form-control" placeholder="Plan Name">

        <label for="inputInterestRate" class="sr-only">Interest Rate</label>
        <input name="inputInterestRate" class="form-control" placeholder="Interest Rate">

        <label for="inputAllowance" class="sr-only">Allowance</label>
        <input name="inputAllowance" class="form-control" placeholder="Allowance">

        <br>
        <input type="submit" class="btn btn-lg btn-block btn-primary" name="addplan" value="ADD">
    </div>
</form>



  </body>
</html>
