<%- include('partials/view-header') %>

<div class="form-signin">
    <div class = "container">
        <% if(err=="cvv"){ %>
        <h1>Authentication failed.Entered cvv does not match.</h1>
        <% } else if(err=="session"){ %>
        <h1>Session expired.</h1>
        <% } else if(err=="insufficientBal"){ %>
        <h1>Insufficient Balance.</h1>
        <% } else if(err=="plan"){ %>
        <h1>No active plan.</h1>
        <% } %>
    <div>
</div>

<% include ('partials/footer') %>
