<%- include('partials/paymentheader') %>
<form class="form-signin" action="/payBalance" method="POST">
    <br><br>
    <div class="container" style="max-width: 600px;">
        <i class="fas fa-credit-card fa-4x" style="padding:10px"></i>
        <h2>Payment Form</h2>
        <p class="lead">Please enter the following details. All values not marked optional must be provided for the payment to succeed.</p>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">To be paid</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Amount</h6>
                    </div>
                    <span class="text-muted"><i class="fas fa-rupee-sign"></i> <%= amount  %> </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Interest</h6>
                    </div>
                    <span class="text-muted"> <%= interest  %> %</span>
                    </li>

                    <li class="list-group-item d-flex justify-content-between">
                    <span>Total</span>
                    <strong><i class="fas fa-rupee-sign"></i> <%= total  %> </strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h5>Billing Details : </h5>
                <form class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="cc-name" class="sr-only">Full name</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="Full Name" value="" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email Address (optional)">
                    </div>

                    <div class="mb-3">
                        <label for="address" class="sr-only">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="Address" required>
                    </div>

                    <hr class="mb-4">

                    <h5>Payment Details : </h5>
                    <div class="mb-3">
                        <label for="cc-name" class="sr-only">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="Full name displayed on Card" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-number" class="sr-only">Debit Card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="Debit Card number" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cvv" class="sr-only">CVV</label>
                            <input type="text" class="form-control" id="cvv" placeholder="CVV" value="" required>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Make Payment">
                </form>
            </div>
        </div>
    </div>
</form>
<% include ('partials/footer') %>
