<%- include('partials/paymentheader') %>

<form class = "form-signin" action="/transfer" method="POST">
    <div class="container" style="max-width: 500px;">
        <i class="fas fa-credit-card fa-4x" style="padding:10px"></i>
        <h2>Bank Transfer</h2>
        <p class="lead">Please provide the details of the account you wish to transfer to. </p>
        <h5>Account details : </h5>
        <form class="needs-validation" novalidate>
            <label for="cc-name" class="sr-only">Full name</label>
            <input type="text" class="form-control" id="cc-name" placeholder="Full Name" value="" required>

            <label for="accno" class="sr-only">Account Number</label>
            <input type="text" class="form-control" id="accno" placeholder="Account Number" name = "accno" value="" required>

            <label for="amt" class="sr-only">Amount</label>
            <input type="text" class="form-control" id="amt" placeholder="Amount" name = "amount" value="" required>

            <label for="cvv" class="sr-only">CVV</label>
            <input type="text" class="form-control" id="cvv" placeholder="CVV" name = "cvv" value="" required>

            <hr class="mb-4">
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Make Transfer"></button>
        </form>
    </div>
</form>

<% include ('partials/footer') %>
